<header>
  <div class="container">
    <div class="logo">
      <span>re</span>bate
    </div>
    <div class="search">
      <mat-form-field>
        <mat-label>Enter your rebate</mat-label>
        <input matInput type="text">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="btn">
      <a mat-fab extended routerLink="/login" color="primary">
        <mat-icon>person</mat-icon>
        My Account
      </a>
    </div>
  </div>

</header>
<section class="banner">
  <div class="container">
    <div class="left">
      <img src="/assets/image1.svg">
    </div>
    <div class="right">
      <h1>Claim Your Rebate Now!</h1>
      <p>Get Cash Back on Your Purchase with Our Easy Rebate Form</p>
    </div>
  </div>
</section>


<section class="get">
  <h2>Get started</h2>
  <ul>
    <li><a href="/app/new_rebate"><mat-icon>check</mat-icon> Claim a rebate</a></li>
    <li><a href="/app/find_rebate"><mat-icon>check</mat-icon> Find Rebate</a></li>
    <li><a href="/app/gift_card"><mat-icon>check</mat-icon> Redeem a Gift Card (Cash to your account) </a></li>
  </ul>
</section>


<section class="list">
  <div class="container">
    <h2>List of potential rebate and offer</h2>
    <p>This section we will present some current rebate information that avalaivle with offer,  and can be fillup process using our website.</p>

    <div class="images">
      <mat-card>
        <mat-card-content>
          <img src="/assets/image.jpg">
        </mat-card-content>
        <mat-card-title>
          Budweiser
        </mat-card-title>
        <mat-card-subtitle>80% Rebate</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <img src="/assets/image.jpg">
        </mat-card-content>
        <mat-card-title>
          Contact Lenses
        </mat-card-title>
        <mat-card-subtitle>30% Rebate</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <img src="/assets/image.jpg">
        </mat-card-content>
        <mat-card-title>
          Heating appliance
        </mat-card-title>
        <mat-card-subtitle>25% Rebate</mat-card-subtitle>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <img src="/assets/image.jpg">
        </mat-card-content>
        <mat-card-title>
          Solar Equipment
        </mat-card-title>
        <mat-card-subtitle>40% Rebate</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

</section>

<footer>
  Copyright © 2022 All rights reserved.
</footer>
