@tailwind components;

.btns{
  display: grid;
  gap: 20px;
  padding: 30px 50px ;

  .fb{
    background: #3f51b5;
  }
}

mat-card{
  max-width: 500px;
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}
mat-card-header{
  justify-content: center;
  .mat-mdc-card-title {
    font-size: 30px;
    font-weight: bold;
  }
}
mat-form-field{
  width: 100%;
}
section.check{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  label{
    font-size: 18px;
  }
}
mat-card-footer {
  display: contents;
  .login {
    margin-top: 22px;
  }
}
